.drawer-nav-close {
  background-color: #fff;
  border-style: hidden;
}

.fa-window-close {
  color: #6c757d;
  font-size: 2em;
}

.mt-56px {
  margin-top: 56px;
}

.pt-56px {
  padding-top: 56px;
}

.yahoo, .merucari, .rakuma, .search-config {
  border-radius: 30px;
}
